<form [formGroup]="updatePwdForm" (ngSubmit)="updatePassword()">

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Enter your email" formControlName="email" />
        <app-form-error-msg [control]="f['email']"></app-form-error-msg>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Old Password</label>
        <div class="input-group input-group-merge">
          <input
            [type]="fieldTextType ? 'text' : 'password'"
            id="password"
            class="form-control"
            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
            formControlName="password"
          />
          <span class="input-group-text cursor-pointer">
            <i class="bi "
            [ngClass]="{'bi-eye-slash-fill': !fieldTextType, 'bi-eye-fill': fieldTextType}"
            (click)="togglePasswordInputType()"></i></span>
          </div>
          <app-form-error-msg  [control]="f['password']"></app-form-error-msg>
      </div>

    <div class="mb-3">
        <label for="new_password" class="form-label">New Password</label>
        <div class="input-group input-group-merge">
          <input
            [type]="fieldTextType ? 'text' : 'password'"
            id="new_password"
            class="form-control"
            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
            formControlName="new_password"
          />
          <span class="input-group-text cursor-pointer">
            <i class="bi "
            [ngClass]="{'bi-eye-slash-fill': !fieldTextType, 'bi-eye-fill': fieldTextType}"
            (click)="togglePasswordInputType()"></i></span>
          </div>
          <app-form-error-msg  [control]="f['new_password']"></app-form-error-msg>
      </div>

    <div class="d-grid gap-2 mb-3">
        <button type="submit" class="btn btn-danger">Update</button>
    </div>
</form> 
