<!-- Header Section -->
<!-- <div class="header-section text-center mb-4">
      <h4>{{ getData()?.title }}</h4>
    </div> -->

    <p class="text-center">{{ getData()?.subTitle }}</p>
    <!-- Form Section -->
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <!-- Email Input (Shown when flag == 1) -->
        <div *ngIf="flag === 1" class="mb-3">
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                <input type="email" name="email" class="form-control" placeholder="Email" ngModel required />
            </div>
        </div>
    
        <!-- Password Input (Shown when flag == 3) -->
        <div *ngIf="flag === 3" class="mb-3">
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-key"></i></span>
                <input type="password" name="new_password" class="form-control" placeholder="Password" ngModel required
                    minlength="6" />
            </div>
        </div>
    
        <!-- OTP Input (Shown when flag == 2) -->
        <div *ngIf="flag === 2" class="d-flex justify-content-center my-4">
            <app-otp-input (length)="getOtpLength($event)" (otp)="onOtpChange($event)">
            </app-otp-input>
        </div>
    
        <!-- Submit Button -->
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-md rounded-pill" [disabled]="!f.valid">
                {{ getData()?.button }}
            </button>
        </div>
    </form>
